/*
gris oscuro = #1d252c
gris claro = #626262
background gris = #1b2127
celeste = #026fff
*/


body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;        /* peso de la fuente */
}

h1{
    font-size: 40px;            /* tamaño de fuente */
    line-height: 1.5;           /* alto de linea */
    letter-spacing: -.2px;      /* espaciado entre las letras */
    color: white;             /* color de las letras */

}

h1 strong{
    color: #026fff;
}

.header{
    background-color: #1b2127;
    color: white;
}

.header a{
    color: white;
    text-decoration: none;
}

.hero{
    height: 300px;
    background-image: url('https://images.unsplash.com/photo-1454165205744-3b78555e5572?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
    background-color: #1b2127;
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
}

.portfolio{
    background: #fafafa;
}

.project {
    border: 1px solid grey;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background: white;

}

.project-details {
    width: 500px;
}

.project-imageContainer{
    width: 500px;
}

